/*
Theme Name: Simply180
Based on: Appica 2 iOS
Author: Simply180
Author URI: http://simply180/
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700);

/*Icomoon */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?4vfvpa');
	src:url('fonts/icomoon.eot?4vfvpa#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff2?4vfvpa') format('woff2'),
		url('fonts/icomoon.ttf?4vfvpa') format('truetype'),
		url('fonts/icomoon.woff?4vfvpa') format('woff'),
		url('fonts/icomoon.svg?4vfvpa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-kindle:before {
	content: "\4b";
	     
}
.icon-apple:before {
	content: "\41";
}
.icon-play:before {
	content: "\47";
}
.icon-nook:before {
	content: "\4e";
	    
}

/*----*/

#preloader .logo {
	width: 200px;
	margin:-72px 0 0 -90px
}

p {
	font-size: 16px;
	font-weight:300;
}

.gray-bg {
    background-color: #ebebeb;
}

.navbar.navbar-fixed-top + .page.container {
    padding-top: 80px;
}

.content-wrap{
    background-color: #ebebeb !important;
}

.nav-toggle {
	display:none;
}

.navbar .logo img {  
    width: 250px;
    
}

#preloader .logo img {
	max-width: 200px;
}

#pricing:before {
    opacity: 1;
    background: #ffcc00;
    background: -moz-linear-gradient(top, #ffcc00 0%, #ff8c00 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffcc00), color-stop(100%, #ff8c00));
    background: -webkit-linear-gradient(top, #ffcc00 0%, #ff8c00 100%);
    background: -o-linear-gradient(top, #ffcc00 0%, #ff8c00 100%);
    background: -ms-linear-gradient(top, #ffcc00 0%, #ff8c00 100%);
    background: linear-gradient(to bottom, #ffcc00 0%, #ff8c00 100%);
}

.archive .page-heading {
	padding-top: 0;
	text-align:right;
}

.btn-white {
	border: 1px solid #fff !important;
	color: #fff !important;
	line-height: 230% !important;
	padding: 5px 28px !important;
	font-size:100% !important;
}

.btn-white.slider1:hover {
	background-color: #fff !important;
	color: #3790b2 !important;
}

.btn-white.slider2:hover {
	background-color: #fff !important;
	color: #3a4f90 !important;
}


.btn-white.slider3:hover {
	background-color: #fff !important;
	color: #6c4fa1 !important;
}


.btn-white.slider4:hover {
	background-color: #fff !important;
	color: #c26abe !important;
}


.btn-ghost.btn-white a {
	color: #fff !important;
}

.button-centered  {
	text-align:center
}

.button-centered-right  {
	text-align:right
}

.home-main-title {
	margin-bottom: 10px;
}

.home-main-title h2{
	margin-bottom: 0 !important;
	line-height:45px;
}


.home-main-title span{
	    font-size: 36px;
		line-height:45px;
    font-weight: 400;
    text-transform: none;
	color: #445666 !important;
	margin-bottom:30px;
}

.title-underlined {
    position:relative;
    display:inline-block;
}
.title-underlined:after {
    content:'';
    position:absolute;
    left:0; right:0;
    top:100%;
    margin:5px auto;
    width:50%;
    height:3px;
    background:#2aaebf;
}

.toolbar .btn-ghost  {
    border-color: #445666  ;
    color: #445666  ;
}

.toolbar .btn-ghost:hover{
	color: #FFF !important;
	background-color: #445666;
}

 .sticky-menu {
	float: left;
	margin-top: 12px;
    margin-right: 30px;
 }

.sticky-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.sticky-menu ul li {
	float:left;
	display: inline-block;
    white-space: nowrap;
    position: relative;
}

.sticky-menu ul li a {
    padding: 10px 30px 10px;
	    display: inline-block;
    text-decoration: none;
    font-weight: normal;
	color: #445666;
	text-transform:none;
}

#slider-desktop {
	display:block;
}

#slider-mobile {
	display:none;
}


@media screen and (max-width: 991px) {
.sticky-menu {
    display: none;
}

.nav-toggle {
	display:block;
}
}

.title-underlined-wrap {
	text-align:center
}

.vc_row {
   margin-left: 0; 

}

.navbar.gray {
    background-color: #fff;
	border-bottom:5px solid #c2c2c2;
}

.border-bottom {
    border-bottom: 1px solid #615e5f;
}

.border-top{
    border-top: 1px solid #615e5f;
}

.first-block p, .first-block li{
	font-weight: 300;
}

.btn-app-store {
    padding: 5px 18px 6px 18px;
}

#app-story {
	background-position: bottom center !important;
	
}
.btn-app-store div span {
    font-size: 12px;
}

.btn-app-store div {
    font-size: 18px;
}

.footer-fixed-bottom {
	 background-color: #ebebeb !important;
}

.footer {
		 border-top: 5px solid #2eacbf;

}

.scroller .post-body {
    padding: 20px 22px 15px 22px;
}

.footer-nav ul li a {
    color: #8e8e93
}

#input_1_2_3_container label,
#input_2_1_3_container label {
	display:none !important;
}

input[type="submit"]{
    display: inline-block;
    height: 48px;
    white-space: nowrap;
    color: #445666;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    padding: 0 28px;
    border: 1px solid #445666;
    border-radius: 8px;
    background-color: transparent;
    vertical-align: middle;
    margin: 0 10px 10px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="submit"]:hover {
	background-color: #445666;
	color: #fff;
}

textarea, select {
    border: 1px solid #ccc;
}

.gform_wrapper .gform_footer {
	margin: 0 !important;
}

.gform_wrapper .top_label .gfield_label {
    font-weight: 300 !important;
}

#post-1126  {
	padding-bottom: 0 !important;
	
}

#menu-blog-categories {
	float: left;
    padding: 0;
    margin: 0;

}

#menu-blog-categories li a:after{
	    display:none 
}

.navbar.navbar-fixed-top + * {
    padding-top: 152px;
	  
}

.invite-friend {
	color: #fff;
	background-color: #4265a2;
	padding:30px 80px
}

.fix-bugs {
	color: #fff;
	background-color: #cc417e;
	padding:30px 80px 20px 80px
}

.invite-friend h2, .fix-bugs h2 {
    font-size: 35px;
    margin-bottom: 10px;
	line-height:1em;
}



.feature-tabs .devices {
	    width: 50%;
   
}

.feature-tabs .phone {
    width: 310px;
}

.feature-tabs {
    padding:40px 15px 0 20px;
}

.feature-tabs .tablet {
	    max-width: 350px;
		margin-left: 12%;
		
}

.feature-tabs .phone {
        right: -9%;
	    bottom: 0.5%;
}


.devices .tablet .mask {
    top: 16.9%;
    left: 17%;
    right: 16.85%;
}

.devices .phone .mask {
    top: 17%;
    left: 17.2%;
    right: 16.9%;
}

.feature-tabs .nav-tabs i {
    font-family: 'icomoon';
}


.feature-tabs .nav-tabs li a {
	color: #445666;
	opacity: 1
}

.feature-tabs .tab-pane p {
    font-size: 16px;
}

.feature-tabs .nav-tabs li.active > a {
	    color: #2eacbf;
}

.feature-tabs .tab-content .active {
	 color: #2eacbf;
	 padding:0  20px
}

.feature-tabs .flaticon-film22:before {
    content: "\e903" ;
}


.feature-tabs .flaticon-layers4:before {
      content: "\e902";
}

.feature-tabs .flaticon-settings20:before {
    content: "\e900";
}

.feature-tabs .flaticon-speech38:before {
    content: "\e901";
}


.feature-tabs .block-heading span{
	   padding: 0 20px;
	   font-size: 16px;
}

.text-over-phone{
	padding: 20px 250px  
}

#app-story {
	padding-top: 50px  ;
    padding-bottom: 190px 
}

.tile-solid-bg.bg-warning, .timeline .date:before, .featured-post.bg-warning:before, .bar-charts .chart.chart-warning .bar {
    background-color: #900 !important;
}

@media screen and (max-width: 1440px) {
.feature-tabs .tabs, .feature-tabs .nav-tabs {
    margin-top: 0;
}
}


@media screen and (max-width: 1200px) {
.feature-tabs .devices {
    margin-top: 0;
}
}
	
@media screen and (max-width: 1050px) {
.feature-tabs .tabs, .feature-tabs .devices {
    width: 100% !important;
	margin-top: 0;
    padding-right: 0;
}

.feature-tabs .devices .phone {
     right: 21.5%;
    bottom: 1%;
	max-width: 350px;
}

.feature-tabs .tablet {
	margin-left: 19%;
}
}

@media screen and (max-width: 990px) {

.feature-tabs .devices .phone {
     right: 12.5%;
}

.feature-tabs .tablet {
	margin-left: 11%;
}

.text-over-phone{
	padding: 20px 0  
}
}


@media screen and (max-width: 780px) {
	.feature-tabs .devices .phone {
		display:none;
	}
	
	.feature-tabs .tablet {
	    margin: 0 auto !important;
		    width: 300px;
	}
	.text-over-phone{
	margin-bottom: 0 !important
}
	
	#app-story{
		    padding-bottom: 20px !important;
			background-image: none !important
	}
	
	
}

@media screen and (max-width: 568px) {
	
	.home-main-title h2, .block-heading h2, .home-main-title span {
    font-size: 22px;
	line-height:28px;
	text-align: center;
   
}

#web-app .vc_empty_space {
	height:0 !important;
}
	
#slider-desktop {
	display:none;
}

#slider-mobile {
	
	display:block;
}

.slider-mobile {
	border: 1px solid #fff !important;
	color: #fff !important;
	line-height: 200% !important;
	padding: 5px 100px !important;
	font-size:18px !important;
	font-weight:normal;
	width:100%;
}

.slider-mobile:hover {
	background-color: #fff !important;
	color: #3790b2 !important;
}

.slider-mobile a{
	color: #fff;
}



	/*#rev_slider_2_1_wrapper {
		background-image: url(http://rbarometer.wpengine.com/wp-content/uploads/2015/08/20150824-rb-slider-4-background.jpg);
		background-repeat: no-repeat;
		background-size:100% auto;
		height:216px !important;
	}
	
	#rev_slider_2_1 {
		display:none !important;
	}*/
	
	
} 


.tp-rightarrow.preview2 .tp-arr-titleholder,
.tp-leftarrow.preview2 .tp-arr-titleholder{
	display:none !important
}

.pdf-light-viewer {
    padding: 0 0 20px;
}

.blog-cat-btn {
    padding: 0 30px !important;
    line-height: 1em !important;
    height: 24px !important;
	float: left;
}

.no-cursor {
       pointer-events: none;
   cursor: default;
}

#categories-3 .widget-title{
	display:none;
}

.button-centered a {
    width: 180px;
}

/* Gravity forms */
.rb-forms {
}

.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper textarea   {
	width: 100%;
    font-size: 15px  !important;
    background: none;
    border-radius: 0;
	border: none;
	border-bottom: 1px solid #2eacbf;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	    padding: .313em 0;
    letter-spacing: normal;
    text-indent: .25em;
	min-height: 40px;
}

.gform_wrapper .top_label .gfield_label {
	display:none !important;
}


.gform_wrapper .gform_footer input[type=submit] {
    border-color: #2eacbf;
    color: #2eacbf ;
}

.gform_wrapper .gform_footer input[type=submit]:hover {
	background-color:#2eacbf;
	color: #fff;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

::-webkit-input-placeholder {
 color: #2eacbf;
}
:-moz-placeholder { /* older Firefox*/
 color: #2eacbf;
}
::-moz-placeholder { /* Firefox 19+ */ 
 color: #2eacbf;
} 
:-ms-input-placeholder { 
 color: #2eacbf;
}

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
    display: inline !important;
    margin: 0 !important;
}

.gform_confirmation_message {
	    font-size: 30px !important;
    text-align: center !important;
	color:#2aaebf !important;
	padding-bottom:100px;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	 background-color: transparent !important;
    padding: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
}

.gform_wrapper div.validation_error {
	    margin-bottom: 20px !important;
    border-top: none !important;
    border-bottom: none !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first {
	padding: 0
}

body .gform_wrapper label.gfield_label+div.ginput_container {
    margin-top: 0.8em !important;
}

.footer .body .column.col-40 {
    width: 40%;
}

.footer .body .column.col-60 {
    width: 60%;
}

.footer .social-buttons {
	display:inline;
}

.footer .body .column.col-50  {
	vertical-align:top
}

.footer .body .column.col-50 span {
    line-height: 1.5em;
	color:#8e8e93
}
.footer-nav ul li {
    margin: 0 0 0 15px;
}

.footer  .footer-design {
	width:100%; text-align:right; 
	display: block; 
	margin-bottom:30px;
	    float: left;
		color:#8e8e93
}

.anchor {
    display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
   
}

@media screen and (max-width: 1050px) {
.footer .body, .footer .body .column, 
.footer .body .column.col-50,
.footer .body .column.col-40,
.footer .body .column.col-60,
.footer-nav ul,
.footer-design  {
	display: block;
    width: 100%;
    text-align: center !important;
}
.footer .body .column.col-40 {
    padding-right: 15px;
}

.social-buttons a {
    margin: 5px 0 10px 0;
}


}